.body-container.open .leftmenu {
    width: 49px;
    min-width: 49px;
    overflow: hidden;
}

.body-container.open .containerMenu {
    transform: translateX(-290px);
    transition: transform .2s ease;
    pointer-events: none;
}

.body-container.open .search-input-leftmenu {
    transform: translateX(-290px);
    transition: transform .2s ease;
    pointer-events: none;
}

.body-container.open .search-icon-leftmenu {
    transform: translateX(-290px);
    transition: transform .2s ease;
    pointer-events: none;
}

.body-container.open .user-info {
    transform: translateX(-275px);
    pointer-events: none;
    transition: transform .2s ease;
}

.body-container.open .leftmenu-button {
    transform: translateX(0px);
    // pointer-events: none;
}

.body-container.open .logout-button {
    transform: translateX(275px);
    // pointer-events: none;
}

.body-container.open .footerMenu {
    transform: translateX(-275px);
    pointer-events: none;
}

// .leftmenu-button {
//     // background-color: #1B2654;
//     // width: 20%;
//     // height: 68%;
//     top: 10px;
//     right: 2px;
//     display: flex;
//     position: absolute;
//     justify-content: right;
//     z-index: 1;

//     // img {
//     //     filter: brightness(0) invert(1);
//     // }
// }

.leftmenu {
    width: 290px;
    // min-width: 290px;
    position: relative;
    background-color: #1B2654;
    transition: width 0.3s ease;

    .headerMenu {
        height: 77px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 15px;
        transform: translateX(0);
        transition: transform 0.4s ease;

        .user-info {
            display: block;
            width: 85%;
            color: white;
            padding-top: 0.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: transform 0.4s ease;
        }

        .leftmenu-button {
            top: 14px;
            right: 2px;
            display: flex;
            position: absolute;
            justify-content: right;
            z-index: 1;
        }

    }

    .search-input-leftmenu {
        // width: 100%;
        height: 48px;
        border-radius: 10px;
        background: #ffffff27;
        opacity: 70%;
        padding: 1em;
        cursor: text;
        position: absolute;
        transition: 0.15s ease-in-out;
        color: #ffffff96;

        &.focused {
            background: #ffffff;
            color: black;
            opacity: 100%;
        }
    }

    .search-icon-leftmenu {
        position: relative;
        top: 13px;
        right: 11px;
        color: #ffffff96;
        cursor: text;
        transition: 0.15s ease-in-out;

        &.focused {
            color: black;
            opacity: 100%;
        }
    }

    .containerMenu {
        width: 290px;
        min-width: 290px;
        overflow-y: auto;
        overflow-x: hidden;
        // height: 83%;
        transform: translateX(0);
        transition: transform 0.4s ease;

        .leftmenu-list {
            font-size: 14px;
            position: relative;
            white-space: nowrap;
            // transform: translateX(0);
            // transition: transform 0.4s ease;
            margin: 0 0 0 0;

            li {
                .leftmenu-item {
                    width: 100%;
                    height: 35px;
                    font-size: 14px;
                    // padding-left: 2vh;
                    padding: .4vh 0 0 2vh;
                    display: block;
                    align-items: center;
                    padding-top: 5px;
                    transition: 0.2s;
                    color: white;
                    overflow: hidden;
                    // width: 100%;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                }

                // .active:hover {
                //     width: 100%;

                //     background-color: #323c64;
                //     box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 2px;
                // }

                // .active2:hover {
                //     width: 100%;
                //     margin: .5vh 0vh;

                //     background-color: #1b265442;
                //     box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 2px;
                // }

                // .active3:hover {
                //     width: 100%;
                //     margin: .5vh 0vh;

                //     background-color: #1b265469;
                //     box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 2px;
                // }

                .leftmenu-item.accordion {
                    margin: 0 0;
                    padding: .4vh 0 0 2vh;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    text-align: left;
                    transition: 0.4s;
                    align-items: center;
                }

                .leftmenu-item.accordion2 {
                    margin: 0 0;
                    padding: .4vh 0 0 2vh;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    text-align: left;
                    transition: 0.4s;
                    align-items: center;
                }

                .leftmenu-item.accordion3 {
                    margin: 0 0;
                    padding: .4vh 0 0 2vh;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    text-align: left;
                    transition: 0.4s;
                    align-items: center;
                }

                .leftmenu-item.item-selected {
                    background-repeat: no-repeat;
                    background-position: 2% 45%;
                    // background-image: url("../../png/Polígono\ 1.png");
                }

                .submenu-panel {
                    display: flex;
                    max-height: 0;
                    overflow: hidden;
                    flex-direction: column;
                    background-color: #0000004b;
                    transition: max-height 0.4s ease-in-out;
                    box-shadow: inset 0px 5px 5px -5px rgba(0, 0, 0, 0.3), inset 0px -5px 5px -5px rgba(0, 0, 0, 0.3);

                    .leftmenu-list {
                        width: 100%;

                        li {
                            width: 100%;
                            height: 100%;

                            .leftmenu-item {
                                padding-left: 40px;
                                padding-top: 7px;
                            }

                            .item-selected {
                                padding-left: 40px;
                                background-repeat: no-repeat;
                                background-position: 10% 50%;
                                // background-image: url("../../png/Polígono\ 1.png");
                            }
                        }
                    }

                }

                .submenu-panel2 {
                    display: flex;
                    max-height: 0;
                    color: black;
                    overflow: hidden;
                    background-color: #0000004b;
                    flex-direction: column;
                    transition: max-height 0.4s ease-in-out;
                    box-shadow: inset 0px 5px 5px -5px rgba(0, 0, 0, 0.3), inset 0px -5px 5px -5px rgba(0, 0, 0, 0.3);
                    width: 100%;

                    .leftmenu-list {
                        width: 100%;

                        li {
                            .leftmenu-item {
                                padding-left: 50px;
                            }
                        }

                        .item-selected {
                            padding-left: 40px;
                            background-repeat: no-repeat;
                            background-position: 10% 50%;
                            // background-image: url("../../png/Polígono\ 1.png");
                        }
                    }

                }

                .submenu-panel3 {
                    display: flex;
                    max-height: 0;
                    overflow: hidden;
                    margin: 0;
                    flex-direction: column;
                    background-color: #08080831;
                    transition: max-height 0.4s ease-in-out;
                    box-shadow: inset 0px 5px 5px -5px rgba(0, 0, 0, 0), inset 0px -5px 5px -5px rgba(255, 255, 255, 0.007);

                    .leftmenu-list {
                        width: 100%;

                        li {
                            .leftmenu-item {
                                padding-left: 70px;
                            }
                        }

                        .item-selected {
                            background-repeat: no-repeat;
                            background-position: 32% 50%;
                            // background-image: url("../png/Polígono 1.png");
                        }
                    }

                }
            }

        }
    }

    .footerMenu {
        height: 77px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px;
        transform: translateX(0);
        transition: transform 0.4s ease;

        .logout-button {
            // top: 10px;
            // right: 5px;
            display: flex;
            // position: absolute;
            justify-content: right;
            z-index: 1;
        }

        .clickeableItem {
            z-index: 1;
        }
    }
}

.containerEmpresas {
    max-height: 40vh;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vh;

    .optEmpresa {
        height: 10vh;
        background: linear-gradient(90deg, #1b2654, 0%, rgba(27, 38, 84, 0.92) 100%);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        // p:nth-of-type(1){
        //     border-radius: 50%; 
        //     color: transparent;
        //     padding: 0 7px;  
        //     border: 1px solid white;
        // }
        img {
            width: 40px;
        }

        p {
            color: white;
            margin-left: 1vh;
            font-size: 12px;
        }
    }
}




.containerEmpresas::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.containerEmpresas::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 10px;
}

.containerEmpresas::-webkit-scrollbar-thumb {
    background-color: #1B2654;
    border-radius: 10px;
}

.containerEmpresas::-webkit-scrollbar-thumb:hover {
    background-color: #1B2654;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.062);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 20%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.circles li:nth-child(11) {
    left: 10%;
    width: 100px;
    height: 100px;
    animation-delay: 40s;
    animation-duration: 15s;
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 100%;
    }

}

.containerMenu::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.containerMenu::-webkit-scrollbar-track {
    background-color: #1B2654;
    border-radius: 4px;
}

.containerMenu::-webkit-scrollbar-thumb {
    background-color: #1B2654;
    border-radius: 2px 4px 4px 2px;
}

.containerMenu::-webkit-scrollbar-thumb:hover {
    background-color: #1B2654;
}

//background-color: #FC4C02;
.accordion:after {
    content: '\25BE';
    font-weight: bold;
    // float: right;
    position: absolute;
    right: 10px;
    // margin-right: 10px;

}

.accordion2:after {
    content: '\25BE';
    font-weight: bold;
    // float: right;
    position: absolute;
    right: 10px;
    // margin-right: 10px;
}

.accordion3:after {
    content: '\25BE';
    font-weight: bold;
    // float: right;
    position: absolute;
    right: 10px;
    // margin-right: 10px;
}

.active2:after {
    content: '\25B4';
}

.active:after {
    content: '\25B4';
}

.active3:after {
    content: '\25B4';
}

.blue-scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.blue-scroll::-webkit-scrollbar-track {
    background-color: #949494;
    border-radius: 4px;
}

.blue-scroll::-webkit-scrollbar-thumb {
    background: #38405f;
    // background-color: #FC4C02;
    border-radius: 2px 4px 4px 2px;
}

.blue-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #1B2654;
}



