.scrollable-content {
    overflow-y: auto;
    margin-top: 8px;
    height: calc(100dvh - 32px);
}

@media screen and (max-width: 600px) {
    .scrollable-content {
        overflow-y: auto;
        margin-top: 8px;
        height: calc(100dvh - 135px);
    }
}

.styled-scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.styled-scroll::-webkit-scrollbar-track {
    background-color: #949494;
    border-radius: 4px;
}

.styled-scroll::-webkit-scrollbar-thumb {
    background: #38405f;
    // background-color: #FC4C02;
    border-radius: 2px 4px 4px 2px;
}

.styled-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #1B2654;
}