// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// colors
$color-orange-intergas: #fc4c02;
// $color-orange-intergas: #eca437;
$color-blue-intergas: #1B2654;
$color-blue-intergas-2: #1d5594;
$color-blue-intergas-3: #344070;
$color-blue-inter: #1B2654;
$color-white: white;

//shadows
$shadow-dashboard-cards: 0 4px 6px rgba(0, 0, 0, 0.30);

//texts
$text-dashboard-description: #0c0c0cc5;